<div class="row">
  <div class="col-md-4">
    <img src="{{ urun.urunId }}" class="img-thumbnail" />
  </div>
  <div class="col-md-8">
    <h2 class="text-center text-primary">{{ urun.name }}</h2>
    <ul class="list-group">

      <li class="list-group-item">
        <strong>Id:</strong> {{ urun.id }}
    </li>

      <li class="list-group-item">
        <strong>Açıklama:</strong> {{ urun.category }}
      </li>

      <li class="list-group-item">
        <strong>IMDB Rating:</strong> {{ urun.price }}
      </li>

      <li class="list-group-item">
        <strong>Director:</strong> {{ urun.name }}
      </li>

      <li class="list-group-item">
        <strong>Writer:</strong> {{ urun.name }}
      </li>

      <li class="list-group-item">
        <strong>Actors:</strong> {{ urun.name }}
      </li>

    </ul>
  </div>
</div>
<div class="row">
  <div class="jumbotron">
    <h3>Plot</h3>
    {{urun.name}}
    <hr />
    <a [routerLink]="['/urunler']" routerLinkActive="router-link-active" class="btn btn-danger">Go Back To Search</a>
  </div>
</div>
